#policy {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    color: #444;
    padding: 20px 0;
    border: 1px solid grey;
    background-color: white;
}
#policy p {
    width: 90%;
    padding: 5px 0;
    margin: 0 auto;
}
#agree-policy {
    float: right;
    border-radius: 5px;
    background-color: #3157c9;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#agree-policy:hover {
    background-color: #2a428e;
}
